{% extends "paginas/paciente/base.html" %}
{% block title %} Registrar Paciente {% endblock  %}
{% block body %}

{% for c in formulario %}
  

<div class="conteiner col-4 ">
  <form enctype="multipart/form-data" action="" method="post"> {% csrf_token %}
    <label for="" class="form-label">{{c.label}}</label>
    <input type="{{c.field.widget.input_type}}" name="{{c.name}}" id="" class="form-control" placeholder="{{c.label}}" aria-describedby="helpId">

    
  
  </div>
  <div class="col-12 help-text">{{c.errors}}</div>

{% endfor %}
  <input name="" id="" class="btn btn-success col-4" type="submit" value="Enviar">
</form>
{% endblock %}