{% extends 'paginas/paciente/base.html' %}
{% block title %}Lista Pacientes{% endblock %}
{% block body %}
    
        
    
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for c in pacientes %}
                <tr class="">
                    <td scope="row">{{c.dni}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.nombre}}</td>
                    <td>
                        <a href="{% url 'borrarPaciente' c.dni %}" class="btn btn-danger" role="button">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}